[submodule "illuminate/src/TLC5955"]
	path = illuminate/src/TLC5955
	url = https://github.com/zfphil/TLC5955.git
[submodule "illuminate/src/analogComp"]
	path = illuminate/src/analogComp
	url = https://github.com/orangkucing/analogComp.git
